
main{
    overflow:hidden;
    display: flex;
}

.course-list{
    background-color: #dedce0;
    width: 45%;
    height: 72.5vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

.course-list::-webkit-scrollbar{
    display: none;
}

.course-item{
    background-color: #dedce0;
    height: 20%;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.course-item:hover{
    background-color: #a2aab7;
}

.rating-box{
    height: 100%;
    width: 15%;
    margin-left: 25px;
    align-content: center;
}

.rating-text{
    text-align: center;
    background-color: #6bade4;
}

.name-box{
    height: 100%;
    margin-left: 40px;
    width: 100%;
    align-content: center;
}

.select-container{
    background-color: #dedce0;
    width: 50%;
    height: 72.5vh;
    margin-left: 3%;
}

.prerequisites{
    margin-top: 15px;
    margin-left: 25px;
}

.description{
    margin-left: 25px;
}

.review-list{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    list-style-type: none;
    padding: 0;
    margin-right: 2%;
}

.review-item{
    height: 20%;
    margin-top: 20px;
    background-color: #a2aab7;
}

.select-container::-webkit-scrollbar{
    display: none;
}

.review-title-box{
    height: 100%;
    margin-left: 40px;
    width: 100%;
    align-content: center;
}

.line{
    display: flex;
    width: 100%;
}

.additional-info{
    margin-left: 25px;
}

.paragraph{
    margin-left: 25px;
}

.course-item-selected{
    background-color: #dedce0;
    height: 20%;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.review-container{
    height: 100%;
    overflow-y: scroll;
}