
/*Header styles */
header {
    background-color: #881c1c;
    color: #fff;
    justify-content: space-between;

    padding: 20px;
    text-align: center;
}
.site-title {
    display: inline-block;
    vertical-align: middle;
}
svg#a {
    /*display: inline-flex;*/
    /*width: 5%;*/
    /*height: 80px;*/
    display: inline-block;
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: white; /* Makes the text white */
    padding: 8px 12px;
}

nav ul li a:hover {
    text-decoration: underline; /* Optional: Underline effect on hover */
}